/* Estilos para o overlay de fundo cinza */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Estilos para a barra de progresso */
#loading-bar-container {
    width: 80%;
    max-width: 300px; /* Ajuste o tamanho máximo conforme necessário */
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

#loading-progress {
    width: 0;
    height: 20px; /* Altura da barra de progresso */
    background-color: #f00; /* Cor da barra de progresso */
    border-radius: 10px;
    transition: width 0.5s ease-in-out; /* Animação suave */
}
.hidden {
    display: none;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-top: 3px solid #f00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}