@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #C8DAE4;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #000000;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

#logo_login {
    position: relative;
    width: 200px;
    padding: 20px;
}

.form-box {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #FCF9F6;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.192);
}

.input-box label{
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translate(-50%);
    color: #000000;
}

.input-box {
    position: relative;
    width: 250px;
    margin: 40px 0;
    border-bottom: 2px solid #000000;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: 10px;
    transition: .5s;
}

.input-box input {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    top: 30px;
    font-size: 0.95em;
    color: rgb(0, 0, 0);
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.form-box button{
    margin-top: 50px;
    width: 50%;
    height: 40px;
    background: #8ECAEC;
    border: 1px solid #8a8a8a;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
}

.form-box button:active{
    background: #8ECAEC;
    color: #fff;
}

.container .logreg-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.form-box form {
    display: flex;
    position: relative;
    bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.form-box form .center {
    margin: 20px;
    text-align: center;
  }

/* .form-content {
  position: relative;
  z-index: 2;
} */

.image-container {
    width: 20%; /* Defina a largura do container */
    text-align: center; /* Centralize o link */
  }

.image-container img {
    max-width: 100%; /* Evite que a imagem ultrapasse a largura do container */
    height: auto; /* Mantenha a proporção da imagem */
    width: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    top: 50%; /* Posiciona o topo do modal no meio da tela verticalmente */
    left: 50%; /* Posiciona a esquerda do modal no meio da tela horizontalmente */
    transform: translate(-50%, -50%); /* Move o modal de volta 50% da sua própria largura e altura */
}
.modal-content2 {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    top: 50%; /* Posiciona o topo do modal no meio da tela verticalmente */
    left: 50%; /* Posiciona a esquerda do modal no meio da tela horizontalmente */
    transform: translate(-50%, -50%); /* Move o modal de volta 50% da sua própria largura e altura */
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff0;
    border: none;
}

@media(max-width:650px){
    
    .input-box label{
        position: absolute;
        top: 40%;
        left: 5px;
        transform: translate(-30%);
        color: #000000;
    }
    .form-box {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: #FCF9F6;
        width: 400px;
        height: 80%;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.192);
    }

    .input-box {
        position: relative;
        width: 250px;
        margin: 40px 0;
        border-bottom: 2px solid #000000;
    }
    .form-box button {
        margin-top: 50px;
        width: 50%;
        height: 40px;
        background: #8ECAEC;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1em;
        color: #fff;
    }
    .modal-content {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        position: fixed;
        top: 50%; /* Posiciona o topo do modal no meio da tela verticalmente */
        left: 50%; /* Posiciona a esquerda do modal no meio da tela horizontalmente */
        transform: translate(-50%, -50%); /* Move o modal de volta 50% da sua própria largura e altura */
    }
    .modal-content2 {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        position: fixed;
        top: 50%; /* Posiciona o topo do modal no meio da tela verticalmente */
        left: 50%; /* Posiciona a esquerda do modal no meio da tela horizontalmente */
        transform: translate(-50%, -40%); /* Move o modal de volta 50% da sua própria largura e altura */
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group input {
    position: relative;
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 1em;
}

.form-group select {
    position: relative;
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 1em;
}

input[readonly] {
    background-color: #e9e9e9; /* Cor de fundo cinza */
    color: #888; /* Cor do texto cinza */
}

.mult-select-tag .input-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: .1rem;
    flex-direction: column;
}