{% extends "index.html" %}
{% block body %}

<main class="principal">
    <div class="table table-1" style="margin: 40px; margin-left: 20px;">
        <section class="table__header">
            <h1>Calibração Plano-Mestre</h1>
            <div class="input-group">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table class="responsive-table ">
                <thead>
                    <tr>
                        <th class="cabecalho">Tag</th>
                        <th class="cabecalho">Equip</th>
                        <th class="cabecalho">Setor</th>
                        <th class="cabecalho">Ult.Calib</th>
                        <th class="cabecalho">Periodicidade</th>
                        <th class="cabecalho">Status</th>
                        <th class="cabecalho">Prox.Calib</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list_calibracao %}
                    <tr class="modal-trigger">
                        <td data-label="Tag">{{row[0]}}</td>
                        <td data-label="Equip">{{row[1]}}</td>
                        <td data-label="Setor">{{row[3]}}</td>
                        <td data-label="Ult.Calib">{{row[6]}}</td>
                        <td data-label="Periodicidade">{{row[7]}}</td>
                        <td data-label="Status">A Calibrar</td>
                        <td data-label="Prox.Calib">{{row[10]}} - {{row[7]}} meses</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <div class="table table-2" style="margin: 40px; margin-left: 20px;">
        <section class="table__header" style="justify-content: center;">
            <h1>Histórico de Calibração</h1>
            <!-- <div class="input-group2">
                <input type="search" placeholder="Filtrar..." disabled>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div> -->
        </section>
        <div class="select-group">
            <select name="ordemproducao" id="ordemproducao" multiple>
                <option value="MEC-CQ-001">MEC-CQ-001</option>
                <option value="MEC-CQ-002">MEC-CQ-002</option>
                <option value="MEC-CQ-003">MEC-CQ-003</option>
                <option value="MEC-CQ-004">MEC-CQ-004</option>
                <option value="MEC-CQ-005">MEC-CQ-005</option>
                <option value="MEC-CQ-006">MEC-CQ-006</option>
                <option value="MEC-CQ-007">MEC-CQ-007</option>
                <option value="MEC-CQ-008">MEC-CQ-008</option>
                <option value="MEC-CQ-009">MEC-CQ-009</option>
                <option value="MEC-CQ-010">MEC-CQ-010</option>
            </select>
            <button id="filtrarOrdem" type="submit" class="btn btn-light" style=" margin-left: 10px;">Filtrar</button>
        </div>
        <section class="table__body">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th class="cabecalho">Tag</th>
                        <th class="cabecalho">Equip</th>
                        <th class="cabecalho">Setor</th>
                        <th class="cabecalho">Ult.Calib</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Tag">MEC-CQ-001</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-002</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-003</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-004</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-005</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-006</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-007</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-008</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-009</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-010</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-010</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-010</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">MEC-CQ-010</td>
                        <td data-label="Equip">Relógio Comparador</td>
                        <td data-label="Setor">Controle de Qualidade</td>
                        <td data-label="Ult.Calib">21/06/2023</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
        <div class="modal fade" id="modalGanhar" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group2">  
                        <div class="form-modal">
                        <div class="form-row">
                          <div class="form-group" >
                            <label for="editar_nome">Equipamento</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_nome" id="editar_nome" readonly="readonly">
                          </div>
                  
                          <div class="form-group">
                            <label for="editar_matricula">Faixa Norminal</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_matricula" id="editar_matricula" readonly="readonly">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label for="editar_salario">Unidade</label>
                            <input type="number" class="form-control" style="height: 38px;" name="editar_salario" id="editar_salario" readonly="readonly">
                          </div>
                        
                        <div class="form-group">
                          <label for="editar_funcao">Localização</label>
                          <input type="text" class="form-control" style="height: 38px;" name="editar_funcao" id="editar_funcao">
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group" >
                              <label for="editar_nome">Responsável</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_nome" id="editar_nome">
                            </div>
                    
                            <div class="form-group">
                              <label for="editar_matricula">Tipo de Controle</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_matricula" id="editar_matricula" readonly="readonly">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group">
                              <label for="editar_salario">Periodicidade</label>
                              <input type="number" class="form-control" style="height: 38px;" name="editar_salario" id="editar_salario" readonly="readonly">
                            </div>
                            <div class="form-group">
                              <label for="editar_salario">Método</label>
                              <input type="number" class="form-control" style="height: 38px;" name="editar_salario" id="editar_salario" readonly="readonly">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group">
                              <label for="editar_salario">EMT</label>
                              <input type="number" class="form-control" style="height: 38px;" name="editar_salario" id="editar_salario">
                            </div>
                            <div class="form-group">
                              <label for="editar_salario">EMA</label>
                              <input type="number" class="form-control" style="height: 38px;" name="editar_salario" id="editar_salario">
                            </div>
                          </div>
                        <div>
                            <button id="ganhar">Confirmar</button>
                         </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="modalGanhar2" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content2">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel" style="margin: 10px;"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="table">
                        <section class="table__body">
                            <table class="responsive-table ">
                                <thead>
                                    <tr>
                                        <th class="cabecalho">N° Calibração</th>
                                        <th class="cabecalho">Data</th>
                                        <th class="cabecalho">Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">3</td>
                                        <td data-label="Equip">28/08/2023</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger"> 
                                        <td data-label="Tag">2</td>
                                        <td data-label="Equip">28/08/2022</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
            </div>
        </div>
    </div>
    </div>
</main>
<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
 </div>
<script>
    new MultiSelectTag('ordemproducao', {
        rounded: true,    // default true
        shadow: true,      // default false
        placeholder: 'Pesquisar...',  // default Search...
        onChange: function(values) {
            console.log(values)
        }
})
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filtrarButton = document.getElementById("filtrarOrdem");
        filtrarButton.addEventListener("click", function() {
            const select = document.getElementById("ordemproducao");
            const selectedValues = Array.from(select.selectedOptions).map(option => option.value);

            // Seleciona a tabela com o título "Ordem de Produção"
            const tabelaOrdemProducao = document.querySelector(".table:nth-of-type(2)"); // A segunda tabela

            // Seleciona apenas as linhas da tabela "Ordem de Produção"
            const tableRows = tabelaOrdemProducao.querySelectorAll(".table__body tbody tr");
            tableRows.forEach(row => {
                const codigo = row.querySelector("td:first-child").textContent;
                if (selectedValues.length === 0 || selectedValues.includes(codigo)) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>
<script>
   function showModalGanhar(event) {

    const isTable1 = event.currentTarget.closest('.table-1') !== null;
    const isTable2 = event.currentTarget.closest('.table-2') !== null;
    if (isTable1) {
            // Código para a Tabela 1
            const tag = event.currentTarget.querySelector('td').textContent;
            $.ajax({
                success: function () {
                    // Defina o texto do título do modal com base na 'tag'
                    $('.modal-title').text(tag);

                    // Exiba o modal
                    $('#modalGanhar').modal('show');
                    $('#modalGanhar').on('show.bs.modal', function () {
                        $('body').addClass('modal-open');
                    });

                    setTimeout(function() {
                        modal.style.display = 'block';
                    }, 1000);
                    // Fechar o modal ao clicar no botão de fechar
                    $('#modalGanhar').on('click', '.close', function () {
                        $('#modalGanhar').modal('hide');
                        $('body').removeClass('modal-open');
                    });
                },
                error: function (error) {
                    alert('Essa Ordem de Serviço não contém imagem ou vídeo');
                    console.log(error);
                }
            });
        } else if (isTable2) {
            // Código para a Tabela 1
            const tag = event.currentTarget.querySelector('td').textContent;
            $.ajax({
                success: function () {
                    // Defina o texto do título do modal com base na 'tag'
                    $('.modal-title').text("Histórico: " + tag);

                    // Exiba o modal
                    $('#modalGanhar2').on('show.bs.modal', function () {
                        $('body').addClass('modal-open');
                    });
                    $('#modalGanhar2').modal('show');

                    setTimeout(function() {
                        modal.style.display = 'block';
                    }, 1000);
                    // Fechar o modal ao clicar no botão de fechar
                    $('#modalGanhar2').on('click', '.close', function () {
                        $('#modalGanhar2').modal('hide');
                        $('body').removeClass('modal-open');
                    });
                },
                error: function (error) {
                    alert('Essa Ordem de Serviço não contém imagem ou vídeo');
                    console.log(error);
                }
            });
        }
    }
// Obtém todos os elementos 'tr' na tabela
const trElements = document.querySelectorAll('tr');

// Adiciona um ouvinte de eventos de clique a cada 'tr'
trElements.forEach(function(tr) {
    tr.addEventListener('click', showModalGanhar);
});
 </script>

{% endblock %}