{% extends "index.html" %}
{% block body %}

<main class="principal">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert-success alert-dismissible fade show" id="alerta_Os" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="table table-1" style="margin: 40px; margin-left: 20px;">
        <section class="table__header">
            <h1>Calibração Plano-Mestre</h1>
            <div class="input-group">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table class="responsive-table ">
                <thead>
                    <tr>
                        <th class="cabecalho">Tag</th>
                        <th class="cabecalho">Equip</th>
                        <th class="cabecalho">Setor</th>
                        <th class="cabecalho">Ult.Calib</th>
                        <th class="cabecalho">Periodicidade</th>
                        <th class="cabecalho">Status</th>
                        <th class="cabecalho">Prox.Calib</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list_calibracao %}
                    <tr class="modal-trigger" onclick="pegarValor('{{ row[0] }}')">
                        <td data-label="Tag">{{ row[0] }}</td>
                        <td data-label="Equip">{{row[1]}}</td>
                        <td data-label="Unidade" style="display: none;">{{row[2]}}</td>
                        <td data-label="Localizacao">{{row[3]}}</td>
                        <td data-label="Responsavel" style="display: none;">{{row[4]}}</td>
                        <td data-label="Tipo de Controle" style="display: none;">{{row[5]}}</td>
                        <td data-label="Ult.Calib">{{row[6]}}</td>
                        <td data-label="Periodicidade">{{row[7]}}</td>
                        <td data-label="Metodo" style="display: none;">{{row[8]}}</td>
                        <td data-label="Faixa Nominal" style="display: none;">{{row[9]}}</td>
                        <td data-label="Status">{{row[10]}}</td>
                        <td data-label="Prox.Calib">{{row[13]}} - {{row[7]}} meses</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <div class="table table-2" style="margin: 40px; margin-left: 20px;">
        <section class="table__header" style="justify-content: center;">
            <h1>Histórico de Calibração</h1>
            <!-- <div class="input-group2">
                <input type="search" placeholder="Filtrar..." disabled>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div> -->
        </section>
        <div class="select-group">
            <select name="ordemproducao" id="ordemproducao" multiple>
                <option value="MEC-CQ-001">MEC-CQ-001</option>
            </select>
            <button id="filtrarOrdem" type="submit" class="btn btn-light" style=" margin-left: 10px;">Filtrar</button>
        </div>
        <section class="table__body">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th class="cabecalho">Tag</th>
                        <th class="cabecalho">Equip</th>
                        <th class="cabecalho">Setor</th>
                        <th class="cabecalho">Ult.Calib</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lista in list_tabela %}
                    <tr>
                        <td data-label="Tag">{{ lista[0] }}</td>
                        <td data-label="Equip">{{lista[1]}}</td>
                        <td data-label="Setor">{{lista[2]}}</td>
                        <td data-label="Data Ult. Calibração">{{lista[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
        <div class="modal fade" id="modalGanhar" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group2">  
                        <div class="form-modal">
                        <div class="form-row">
                          <div class="form-group" >
                            <label for="editar_nome">Equipamento</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_nome" id="editar_nome" readonly="readonly">
                          </div>
                  
                          <div class="form-group">
                            <label for="editar_matricula">Faixa Norminal</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_matricula" id="editar_matricula" readonly="readonly">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label>Unidade</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_unidade" id="editar_unidade" readonly="readonly">
                          </div>
                        <div class="form-group">
                          <label>Localização</label>
                          <input type="text" class="form-control" style="height: 38px;" name="editar_localizacao" id="editar_localizacao" readonly="readonly">
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group" >
                              <label>Responsável</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_responsavel" id="editar_responsavel" readonly="readonly">
                            </div>
                            <div class="form-group">
                              <label>Tipo de Controle</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_controle" id="editar_controle" readonly="readonly">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group">
                              <label>Periodicidade</label>
                              <input type="number" class="form-control" style="height: 38px;" name="editar_periodicidade" id="editar_periodicidade" readonly="readonly">
                            </div>
                            <div class="form-group">
                              <label>Método</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_metodo" id="editar_metodo" readonly="readonly">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group">
                              <label>Última Calibração</label>
                              <input type="date" class="form-control" style="height: 38px;" name="editar_ult_calibracao" id="editar_ult_calibracao" readonly="readonly">
                            </div>
                            <div class="form-group">
                              <label>Status</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_status" id="editar_status" readonly="readonly">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group">
                              <label for="editar_emt">EMT</label>
                              <input type="number" class="form-control" style="height: 38px;" name="editar_emt" id="editar_emt">
                            </div>
                            <div class="form-group">
                              <label for="editar_ema">EMA</label>
                              <input type="number" class="form-control" style="height: 38px;" name="editar_ema" id="editar_ema">
                            </div>
                            </div>
                            <div class="form-row">
                            <div class="form-group">
                                <label>Data de Calibração</label>
                                <input type="date" class="form-control" style="height: 38px;" name="editar_data_calib" id="editar_data_calib">
                            </div>
                        </div>
                        <div>
                            <button id="ganhar">Confirmar</button>
                         </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="modalGanhar2" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content2">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel" style="margin: 10px;"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="table">
                        <section class="table__body">
                            <table class="responsive-table ">
                                <thead>
                                    <tr>
                                        <th class="cabecalho">N° Calibração</th>
                                        <th class="cabecalho">Data</th>
                                        <th class="cabecalho">Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">3</td>
                                        <td data-label="Equip">28/08/2023</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger"> 
                                        <td data-label="Tag">2</td>
                                        <td data-label="Equip">28/08/2022</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr class="modal-trigger">
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
                </div>
            </div>
</main>
<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
 </div>
<script>
    new MultiSelectTag('ordemproducao', {
        rounded: true,    // default true
        shadow: true,      // default false
        placeholder: 'Pesquisar...',  // default Search...
        onChange: function(values) {
            console.log(values)
        }
})
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filtrarButton = document.getElementById("filtrarOrdem");
        filtrarButton.addEventListener("click", function() {
            const select = document.getElementById("ordemproducao");
            const selectedValues = Array.from(select.selectedOptions).map(option => option.value);

            // Seleciona a tabela com o título "Ordem de Produção"
            const tabelaOrdemProducao = document.querySelector(".table:nth-of-type(2)"); // A segunda tabela

            // Seleciona apenas as linhas da tabela "Ordem de Produção"
            const tableRows = tabelaOrdemProducao.querySelectorAll(".table__body tbody tr");
            tableRows.forEach(row => {
                const codigo = row.querySelector("td:first-child").textContent;
                if (selectedValues.length === 0 || selectedValues.includes(codigo)) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>
<script>
   function showModalGanhar(event) {
    $("#loading-overlay").show();
    const isTable1 = event.currentTarget.closest('.table-1') !== null;
    const isTable2 = event.currentTarget.closest('.table-2') !== null;
    if (isTable1) {
        // Código para a Tabela 1
        const tag = event.currentTarget.querySelector('td').textContent;
        const equip = event.currentTarget.querySelector('td[data-label="Equip"]').textContent;
        const unidade = event.currentTarget.querySelector('td[data-label="Unidade"]').textContent;
        const localizacao = event.currentTarget.querySelector('td[data-label="Localizacao"]').textContent;
        const responsavel = event.currentTarget.querySelector('td[data-label="Responsavel"]').textContent;
        const tipoControle = event.currentTarget.querySelector('td[data-label="Tipo de Controle"]').textContent;
        const ult_calibracao = event.currentTarget.querySelector('td[data-label="Ult.Calib"]').textContent;
        const periodicidade = event.currentTarget.querySelector('td[data-label="Periodicidade"]').textContent;
        const metodo = event.currentTarget.querySelector('td[data-label="Metodo"]').textContent;
        const faixaNominal = event.currentTarget.querySelector('td[data-label="Faixa Nominal"]').textContent;
        const status = event.currentTarget.querySelector('td[data-label="Status"]').textContent;

        $.ajax({
            success: function () {
                // Defina o texto do título do modal com base na 'tag'
                $("#loading-overlay").hide();
                $('.modal-title').text(tag);

                // Defina os valores dos campos de entrada no modal
                $('#editar_nome').val(equip);
                $('#editar_matricula').val(faixaNominal);
                $('#editar_unidade').val(unidade);
                $('#editar_localizacao').val(localizacao);
                $('#editar_responsavel').val(responsavel);
                $('#editar_controle').val(tipoControle);
                $('#editar_periodicidade').val(periodicidade);
                $('#editar_metodo').val(metodo);
                $('#editar_ult_calibracao').val(ult_calibracao);
                $('#editar_status').val(status);
    
                // Exiba o modal
                $('#modalGanhar').modal('show');
                $('#modalGanhar').on('show.bs.modal', function () {
                    $('body').addClass('modal-open');
                });

                setTimeout(function () {
                    modal.style.display = 'block';
                }, 1000);
                // Fechar o modal ao clicar no botão de fechar
                $('#modalGanhar').on('click', '.close', function () {
                    $('#modalGanhar').modal('hide');
                    $('body').removeClass('modal-open');
                });
            },
            error: function (error) {
                alert('Essa Ordem de Serviço não contém imagem ou vídeo');
                console.log(error);
            }
        });
        } else if (isTable2) {
            // Código para a Tabela 1
            const tag = event.currentTarget.querySelector('td').textContent;
            $.ajax({
                success: function () {
                    // Defina o texto do título do modal com base na 'tag'
                    $("#loading-overlay").hide();
                    $('.modal-title').text("Histórico: " + tag);

                    // Exiba o modal
                    $('#modalGanhar2').on('show.bs.modal', function () {
                        $('body').addClass('modal-open');
                    });
                    $('#modalGanhar2').modal('show');

                    setTimeout(function() {
                        modal.style.display = 'block';
                    }, 1000);
                    // Fechar o modal ao clicar no botão de fechar
                    $('#modalGanhar2').on('click', '.close', function () {
                        $('#modalGanhar2').modal('hide');
                        $('body').removeClass('modal-open');
                    });
                },
                error: function (error) {
                    alert('Essa Ordem de Serviço não contém imagem ou vídeo');
                    console.log(error);
                }
            });
        }
    }
// Obtém todos os elementos 'tr' na tabela
const trElements = document.querySelectorAll('tr');

// Adiciona um ouvinte de eventos de clique a cada 'tr'
trElements.forEach(function(tr) {
    tr.addEventListener('click', showModalGanhar);
});
</script>

<script>
    var tagValue; // Declare a variável tagValue aqui
    
    function pegarValor(tag) {
        tagValue = tag; // Atribua o valor da tag à variável tagValue
        console.log("Valor da Tag: " + tagValue);
    }
    
    $(document).ready(function() {
        $("#ganhar").click(function(event) {
            $("#loading-overlay").show();
            if (tagValue !== undefined) {
                // Resto do seu código ...
                console.log("Entrou: " + tagValue);
                
                // Obtém os valores de editar_emt, editar_ema, editar_data_calib como você já fez
                var editar_emt = $('#editar_emt').val();
                var editar_ema = $('#editar_ema').val();
                var editar_data_calib = $('#editar_data_calib').val();
                
                
                if (editar_emt === "" || editar_ema === "" || editar_data_calib === "") {
                    // Exibe um alerta
                    alert("Por favor, preencha todos os campos.");

                    // Oculta a sobreposição de carregamento e não envia a solicitação
                    $("#loading-overlay").hide();
                    return;
                } else {
                    // Se todos os campos estiverem preenchidos, continue com a solicitação AJAX
                    var data = {
                        tagValue: tagValue,
                        editar_emt: editar_emt,
                        editar_ema: editar_ema,
                        editar_data_calib: editar_data_calib
                    };
                }
                // Faça a solicitação AJAX com os dados
                $.ajax({
                    url: '/editar_tag',
                    method: 'POST',
                    data: data,
                    success: function(response) {
                        // Lide com a resposta do servidor, se necessário
                        console.log("Resposta do servidor:", response);
                        window.location.reload();
                    },
                    error: function(error) {
                        console.error("Erro na solicitação AJAX:", error);
                        $("#loading-overlay").hide();
                    }
                });
            } else {
                console.log("tagValue não está definida.");
            }
        });
    });
    </script>

    <script>

$(document).ready(function() {
    $.ajax({
        type: "GET",
        url: "/historico", // A rota para a qual você deseja fazer a solicitação GET
        success: function(data) {
            // Manipule os dados retornados aqui e insira-os na div
            var tabelaHTML = "<table>";
            tabelaHTML += "<thead><tr><th>Tag</th><th>Equipamento</th><th>Localização</th><th>Data de Calibração</th></tr></thead><tbody>";

            for (var i = 0; i < data.length; i++) {
                tabelaHTML += "<tr>";
                tabelaHTML += "<td>" + data[i]['tag'] + "</td>";
                tabelaHTML += "<td>" + data[i]['equipamento'] + "</td>";
                tabelaHTML += "<td>" + data[i]['localizacao'] + "</td>";
                tabelaHTML += "<td>" + data[i]['data_calib'] + "</td>";
                tabelaHTML += "</tr>";
            }

            tabelaHTML += "</tbody></table>";

            // Insira a tabela HTML na div
            $("#dados-tabela").html(tabelaHTML);
        },
        error: function() {
            console.error("Erro ao fazer a solicitação AJAX.");
        }
    });
});

</script>
{% endblock %}