{% extends "index.html" %}
{% block body %}

<main class="principal">
    <div class="table table-1" style="margin: 40px; margin-left: 20px;">
        <section class="table__header">
            <h1>Relação de Equipamentos</h1>
            <div class="input-group">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table class="responsive-table ">
                <thead>
                    <tr>
                        <th class="cabecalho">Equipamento</th>
                        <th class="cabecalho">Frabricante</th>
                        <th class="cabecalho">Grandeza</th>
                        <th class="cabecalho">Unidade</th>
                        <th class="cabecalho">Faixa Nominal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger"> 
                        <td data-label="Tag">Manômetro</td>
                        <td data-label="Equip">Wika</td>
                        <td data-label="Setor">Pressão</td>
                        <td data-label="Ult.Calib">bar psi</td>
                        <td data-label="Periodicidade">0-10/0-145</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-5</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-3</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-8</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                    <tr class="modal-trigger">
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">Starret</td>
                        <td data-label="Setor">Dimensional</td>
                        <td data-label="Ult.Calib">m</td>
                        <td data-label="Periodicidade">0-10</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="table table-2" style="margin: 40px; margin-left: 20px;">
        <section class="table__header">
            <h1>Cronograma de Equipamentos</h1>
            <div class="input-group2">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th class="cabecalho">Equipamento</th>
                        <th class="cabecalho">Preço</th>
                        <th class="cabecalho">Quantidade</th>
                        <th class="cabecalho">Valor Total</th>
                        <th class="cabecalho">Status</th>
                        <th class="cabecalho">Ultima Calibração</th>
                        <th class="cabecalho">Data Sugerida</th>
                        <th class="cabecalho">Duração</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                    <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                   <tr>
                        <td data-label="Tag">Trena</td>
                        <td data-label="Equip">R$15,00</td>
                        <td data-label="Setor">25</td>
                        <td data-label="Ult.Calib">R$375,00</td>
                        <td data-label="Tag">A calibrar</td>
                        <td data-label="Equip">11/01/2022</td>
                        <td data-label="Setor">17/05/2023</td>
                        <td data-label="Ult.Calib">10 dias</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
        <div class="modal fade" id="modalGanhar" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group2">  
                        <div class="form-modal">
                        <div class="form-row">
                          <div class="form-group" >
                            <label for="editar_nome">Equipamento</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_nome" id="editar_nome" readonly="readonly">
                          </div>
                  
                          <div class="form-group">
                            <label for="editar_matricula">Fabricante</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_matricula" id="editar_matricula" readonly="readonly">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label for="editar_salario">Grandeza</label>
                            <input type="number" class="form-control" style="height: 38px;" name="editar_salario" id="editar_salario" readonly="readonly">
                          </div>
                        
                        <div class="form-group">
                          <label for="editar_funcao">Faixa Nominal</label>
                          <input type="text" class="form-control" style="height: 38px;" name="editar_funcao" id="editar_funcao" readonly="readonly">
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group" >
                              <label for="editar_nome">Faixa de Calibração</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_nome" id="editar_nome" readonly="readonly">
                            </div>
                    
                            <div class="form-group">
                              <label for="editar_matricula">Unidade</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_matricula" id="editar_matricula" readonly="readonly">
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="modalGanhar2" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content2">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel" style="margin: 10px;"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="table">
                        <section class="table__body">
                            <table class="responsive-table ">
                                <thead>
                                    <tr>
                                        <th class="cabecalho">N° Calibração</th>
                                        <th class="cabecalho">Data</th>
                                        <th class="cabecalho">Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Tag">3</td>
                                        <td data-label="Equip">28/08/2023</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr> 
                                        <td data-label="Tag">2</td>
                                        <td data-label="Equip">28/08/2022</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-label="Tag">1</td>
                                        <td data-label="Equip">28/08/2021</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
            </div>
        </div>
    </div>
    </div>
</main>
<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
 </div>
<script>
    new MultiSelectTag('ordemproducao', {
        rounded: true,    // default true
        shadow: true,      // default false
        placeholder: 'Pesquisar...',  // default Search...
        onChange: function(values) {
            console.log(values)
        }
})
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filtrarButton = document.getElementById("filtrarOrdem");
        filtrarButton.addEventListener("click", function() {
            const select = document.getElementById("ordemproducao");
            const selectedValues = Array.from(select.selectedOptions).map(option => option.value);

            // Seleciona a tabela com o título "Ordem de Produção"
            const tabelaOrdemProducao = document.querySelector(".table:nth-of-type(2)"); // A segunda tabela

            // Seleciona apenas as linhas da tabela "Ordem de Produção"
            const tableRows = tabelaOrdemProducao.querySelectorAll(".table__body tbody tr");
            tableRows.forEach(row => {
                const codigo = row.querySelector("td:first-child").textContent;
                if (selectedValues.length === 0 || selectedValues.includes(codigo)) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>
<script>
   function showModalGanhar(event) {

    const isTable1 = event.currentTarget.closest('.table-1') !== null;
    const isTable2 = event.currentTarget.closest('.table-2') !== null;
    if (isTable1) {
            // Código para a Tabela 1
            const tag = event.currentTarget.querySelector('td').textContent;
            $.ajax({
                success: function () {
                    // Defina o texto do título do modal com base na 'tag'
                    $('.modal-title').text(tag);

                    // Exiba o modal
                    $('#modalGanhar').modal('show');
                    $('#modalGanhar').on('show.bs.modal', function () {
                        $('body').addClass('modal-open');
                    });

                    setTimeout(function() {
                        modal.style.display = 'block';
                    }, 1000);
                    // Fechar o modal ao clicar no botão de fechar
                    $('#modalGanhar').on('click', '.close', function () {
                        $('#modalGanhar').modal('hide');
                        $('body').removeClass('modal-open');
                    });
                },
                error: function (error) {
                    alert('Essa Ordem de Serviço não contém imagem ou vídeo');
                    console.log(error);
                }
            });
        } else if (isTable2) {
            // Código para a Tabela 1
            const tag = event.currentTarget.querySelector('td').textContent;
            $.ajax({
                success: function () {
                    // Defina o texto do título do modal com base na 'tag'
                    $('.modal-title').text("Histórico: " + tag);

                    // Exiba o modal
                    $('#modalGanhar2').on('show.bs.modal', function () {
                        $('body').addClass('modal-open');
                    });
                    $('#modalGanhar2').modal('show');

                    setTimeout(function() {
                        modal.style.display = 'block';
                    }, 1000);
                    // Fechar o modal ao clicar no botão de fechar
                    $('#modalGanhar2').on('click', '.close', function () {
                        $('#modalGanhar2').modal('hide');
                        $('body').removeClass('modal-open');
                    });
                },
                error: function (error) {
                    alert('Essa Ordem de Serviço não contém imagem ou vídeo');
                    console.log(error);
                }
            });
        }
    }
// Obtém todos os elementos 'tr' na tabela
const trElements = document.querySelectorAll('tr');

// Adiciona um ouvinte de eventos de clique a cada 'tr'
trElements.forEach(function(tr) {
    tr.addEventListener('click', showModalGanhar);
});
 </script>

{% endblock %}